* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}

.product {
    // padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    border: 1px solid grey;
    background-color: rgba(233, 233, 233, 0.596);
}

.image {
    text-align: center;

    img {
        width: 200px;
        height: 200px;
        // max-height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }
}
.text {
    h1 {
        // max-width: 100px;
    }
}